<h1>Add new vihicle</h1>
<!-- TODO: Temp for debug -->
<p>
  {{vihicle | json}}
</p>
<!-- Validation (regexp) for email, phone -->
<!-- Validation for features and registration-->
<form #f="ngForm" (ngSubmit) = "submit()">
  <!--Make dropdown list-->
  <div class="form-group">
    <label for="make">Make</label>
    <select id="make" class="form-control" (change)="onMakeChange()" [(ngModel)]="vihicle.makeId" name = "makeId" required #make="ngModel">
      <option value = ""></option>
      <option *ngFor="let m of makes" value="{{m.id}}">{{m.name}}</option>
    </select>
  </div>
  <!--Error Handler-->
  <div class="alert alert-danger" *ngIf="make.touched && !make.valid">
    Please specify the make, please.
  </div>
  
  <!--Model dropdown list-->
  <div class="form-group">
    <label for="model">Model</label>
    <select id="model" class="form-control" [(ngModel)]="vihicle.modelId" name = "modelId" required #model="ngModel">
       <option value=""></option>
       <option *ngFor="let m of models" value="{{m.id}}">{{m.name}}</option>
    </select>
  </div>
  <!--Error Handler-->
  <div class="alert alert-danger" *ngIf="model.touched && !model.valid">
    Please specify the model, please.
  </div>

  <!--Vehicle registration radiobuttons-->
  <p>Is this vihicle registered?</p>
  <label for="registered" class="radio-inline">
    <input type="radio" name ="isRegistered" id="registered" value="true" [(ngModel)]="vihicle.isRegistered"/> Yes
  </label>
  <label for="notRegistered" class="radio-inline">
    <input type="radio" name ="isRegistered" id="notRegistered" value="false" [(ngModel)]="vihicle.isRegistered"/> No
  </label>

  <!--Features checkboxes-->
  <h2>Features</h2>
  <div class="checkbox" *ngFor="let f of features">
    <label for="{{f.id}}">
      <input type="checkbox" id="{{f.id}}" (change) = "onFeatureToggle(f.id, $event)"/>
      {{f.name}}
    </label>
  </div>

  <!-- Contacts Fields-->
  <!-- TODO: Inline labels aligned-->
  <h2>Contact</h2>

  <!--Contact Name-->
  <div class="form-group">
    <label for="contactName">Name: </label>
    <input id="contactName" type="text" class="form-control" [(ngModel)]="vihicle.contact.name" name ="contactName" required #contactName="ngModel"/>
  </div>
  <!--Error Handler-->
  <div class="alert alert-danger" *ngIf="contactName.touched && !contactName.valid">
    Please specify your name, please.
  </div>

  <!--Contact Phone-->
  <div class="form-group" >
    <label class="inline" for="contactPhone">Phone:</label>
    <input type="text" id="contactPhone" class="form-control" [(ngModel)]="vihicle.contact.phone" name ="contactPhone" required #contactPhone="ngModel"/>
  </div>
  <!--Error Handler-->
  <div class="alert alert-danger" *ngIf="contactPhone.touched && !contactPhone.valid">
    Please specify your phone, please.
  </div>

  <!--Contact Email-->
  <div class="form-group">
    <label for="contactEmail">Email:</label>
    <input type="text" id="contactEmail" class="form-control" [(ngModel)]="vihicle.contact.email" name ="contactEmail"/>
  </div>
  <button class="btn btn-primary" [disabled]="!f.valid">
    Submit
  </button>
</form>