.table-text-valign {
    padding-top: 15px;
    padding-bottom: 15px;
}
.glyphicon-lg {
    font-size: 1.5em;
}

.th-pointer {
    cursor: pointer;
}

.fixed-bottom-centered {
    position: fixed;
    bottom: 1px;
    left: 51%;
}