<legend class="text-center">
  <h2>Vehicles</h2>
</legend>

<!--Add Vehicle Button-->
<div>
  <a [routerLink]="['/vehicles/new']" class="btn btn-success btn-block">
    New Vehicle
  </a>
</div>
<br>

<!--Filter Section-->
<div class="well">
  <!--Make Filter-->
  <div class="form-group">
    <label for="make">
      Make
    </label>
    <select name="" id="make" class="form-control" [(ngModel)]="filter.makeId" (change)="onFilterChange()">
      <option value=""></option>
      <option *ngFor="let make of makes" value="{{make.id}}">
        {{make.name}}
      </option>
    </select>
  </div>
  <button class="btn btn-primary" (click)="resetFilter()">
    Reset
  </button>
</div>

<!--Vehicles Table-->
<table class="table table-striped table-hover well">
  <thead>
    <tr>
      <th>Id</th>
      <th>Make</th>
      <th>Model</th>
      <th>Contact Name</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehicles">
        <td>{{vehicle.id}}</td>
        <td>{{vehicle.make.name}}</td>
        <td>{{vehicle.model.name}}</td>
        <td>{{vehicle.contact.name}}</td>
        <td>
          <a [routerLink]="['/vehicles/', vehicle.id]">
            <div class="glyphicon glyphicon-edit"></div> 
          </a>
        </td>
    </tr>
  </tbody>
</table>